@tailwind base;
@tailwind components;
@tailwind utilities;





.nav{
    background-color: rgb(198, 198, 199);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.nav-button{
    display: flex;
    padding-right: 0px;
}
.nav-line{
    display: flex;
    padding-left: 20px;
    
}
.nav-link{
    padding: 10px;
}
.like-buton{
    color: rgb(139, 139, 139);
    
}
.like-buton:hover{
    color: red;
    cursor: pointer;
}