@tailwind base;
@tailwind components;
@tailwind utilities;





.nav{
    background-color: rgb(198, 198, 199);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.nav-button{
   
    padding-right: 30px;
}
.nav-link{
    
    padding: 20px;
    
}